/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: Sentinel SSm A, Sentinel SSm B, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
  background-color: #eee;
}

button.btn {
  white-space: nowrap;
  text-transform: uppercase;
  padding: 10px 20px;
  border: none;
  outline: none;
  cursor: pointer;
}

button.primary {
  color: white;
  background-color: #c00;
}

button.secondary {
  color: white;
  background-color: grey;
}

.ng-select.custom .ng-value-container {
  padding-left: 0 !important;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-top-20 {
  padding-top: 20px;
}

/* Mobile only */
@media (max-width: 767.9px) {
  .hide-on-mobile {
    display: none !important;
  }

  .full-width-on-mobile {
    width: 100% !important;
  }
}

/* Desktop only */
@media (min-width: 768px) {
  .only-on-mobile {
    display: none !important;
  }
}
